
#form_div
{
    background-color: white;
    color: black;
}

form{
    padding: 5px 5px 5px 5px;
}

#table_div{
    width:80%;
    margin:auto;
}

#table_result{
    background-color: white;
    width:100%;
}

