
#form_div
{
    background-color: white;
    color: black;
}

form{
    padding: 5px 5px 5px 5px;
}

#table_div{
    width:120%;
    margin:auto;
    margin-left:-10%;
    margin-right:-10%;

}

#table_result{
    background-color: white;
    width:100%;
}

